<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Atividade Session Beans</title>
    </h:head>
     <h:body>
        <f:view>
            <h:form>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cadastro de Produto:<br></br>
                <h:panelGrid columns="2">                         
                        <h:outputLabel for="descricao" value="Descrição:"/>       
                        <h:inputText id="desc" value="#{controlador.produto.descricao}"/>
                        <h:outputLabel for="preco" value="Preco: "/>
                        <h:inputText id="preco" value="#{controlador.produto.preco}"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <h:commandButton id="salvar" value="Salvar" action="#{controlador.addProduto}"/>
                        <br></br>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <h:commandButton id="volta" value="Voltar" action="index"/>
                    </h:panelGrid>
                
            </h:form>
        </f:view>
    </h:body>

</html>
