<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Atividade Session Beans</title>
    </h:head>
    <h:body>
        <f:view>
            <h:form>
                <br></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h:commandButton id="cad" value="Cadastrar produto" action="cadastro"/>

                <br></br>
                <h:outputText style="color: red;font-weight: 500" value="////////////////////////////////////////////////////////////" /><br></br>
               <br></br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Produto destaque:  <h:outputText style="color: red;font-weight: 500" value="#{controlador.destaque.descricao}" />
                <h:outputText style="color: red;font-weight: 500" value="#{controlador.destaque.preco}" />
                <br></br>
 
                <h:outputText style="color: red;font-weight: 500" value="////////////////////////////////////////////////////////////" /><br></br>
                <br></br>&nbsp;&nbsp;&nbsp;
                Escolha os produtos para seu pedido:
                <h:dataTable value="#{controlador.produtos}" var="p"  border="2">
                    
                    <h:column id="column1">
                        <f:facet name="header">
                            <h:outputText value="Produto" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                  
                        </f:facet>
                        <h:outputText value="#{p.descricao}" /><h:outputText value=", R$ " /><h:outputText value="#{p.preco}" />
                    </h:column>
                    
                    <h:column id="column2">
                        <f:facet name="header">
                            <h:outputText value="Adicionar ao carrinho" />                   
                        </f:facet>
                        <h:commandButton id="add" value="Adicionar" action="#{controlador.addCarrinho(p)}"/>
                    </h:column>
                    
                </h:dataTable>
                              
                <h:outputText style="color: red;font-weight: 500" value="////////////////////////////////////////////////////////////" /><br></br>
                <br></br>&nbsp;&nbsp;&nbsp;
                Seu carrinho:
                <h:dataTable value="#{controlador.carrinho.listaDeProdutos()}" var="prod"  border="2">
                    <h:column id="column3">
                        <f:facet name="header">
                            <h:outputText value="Produto" />                   
                        </f:facet>
                        <h:outputText value="#{prod.descricao}"/><h:outputText value=", R$ " /><h:outputText value="#{prod.preco}" />
                    </h:column>
                    <h:column id="column4">
                        <f:facet name="header">
                            <h:outputText value="Remover do carrinho" />                   
                        </f:facet>
                        <h:commandButton value="Remover" action="#{controlador.remover(prod)}"/>
                    </h:column>
                </h:dataTable>
                <br></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h:commandButton value="Opções do carrinho" action="finalizacao"/><br></br>
                <h:outputText style="color: red;font-weight: 500" value="////////////////////////////////////////////////////////////" /><br></br>
                <h:message style="color: red; list-style: none" for="msg" id="msg"/>
            </h:form>
        </f:view>
    </h:body>

</html>

